.cards{
  .ui.card{
    margin-top: 20px;
    width: auto;
    text-align: center;
    .image > img{
      width: auto;
      margin-bottom: 10px;
      // padding: 10% 40%;
    }
    .content{
      margin-bottom: 15px;
      > .header {
        width: auto;
        color: #000;
        font-size: 20px;

        }
      }

      }
    }
