.cards{
  // padding-top: 20px;
  // padding-bottom: 20px;
  // .ui.container{
  //   background: #000;
  //   font-size: 45px;
  // }
  .ui.card{
    .image > img{
      padding: 10% 20%;
      width: 100%;

      ::after{
        content: " ";
        display: block;
        border-bottom: 2px solid #000;
      }
    }
    .content{
      > .header {
        color: #000;
        font-size: 24px;
        margin: 0;
        margin-bottom: 24px;
        :after{
          content: " ";
          display: block;
          border-bottom: 2px solid #000;
        }
      }

      }
    }

    cursor: pointer;
    transition: box-shadow .4s;
    &:hover{
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }


    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // .image > img{
    //   margin-bottom: 10px;
    // }
    // .content > a.header{
    //   color: #000;
    //   font-size: 100px;
    // }





}
